<h1>Contrato</h1>
<p>Número de Contrato: <%= @contract.number %></p>
<p>Cliente:<%= @contract.customer.name %></p>
<p>Endereço de Entrega:<%= @contract.delivery_address %></p>
<p>Prazo de Locação:<%= @contract.rental_period %></p>
<p>Valor Total:<%= @contract.total_amount %>/p>
<p>Desconto:<%= @contract.discount %></p>
<p>Equipamento:
  <% @contract.equipment.each do |equipment| %>
    <%= equipment.full_description %>
  <% end %>
</p>
<p>Responsável:<%= @contract.contact %></p>
<%= link_to 'Emitir Recibo', delivery_receipt_contract_path %>
