<h1>Contrato</h1>
Cliente: <%= @contract.customer.name %>
Endereço de Entrega:  <%= @contract.delivery_address %>
Prazo de Locação:  <%= @contract.rental_period %>
Valor Total:  <%= @contract.total_amount %>
Desconto:  <%= @contract.discount %>
Equipamento:  <%= @contract.equipment %>
Responsável:  <%= @contract.contact %>
