<!DOCTYPE html>
<html>
  <head>
    <title>EquipOz</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to 'Cientes', new_customer_path %>
      <%= link_to 'Equipamentos', new_equipment_path %>
      <%= link_to 'Contrato', new_contract_path %>
      <%= link_to 'Categorias', new_category_path %>
      <%= link_to 'Tabela de Preço', new_category_price_path %>
    </nav>
    <br>
    <%= flash[:error] %>
    <%= yield %>
  </body>
</html>
